@page "/docs"
@layout AddressCorrectionTool.Components.Layout.DocsLayout



<body>
    <div class="row">

        <div class="col-8">
            <h1 id="introduction">Introduction</h1>
            <p class="lead pb-3">
                Welcome to the Address Correction Tool documentation. This tool is designed to help you correct and
                standardize addresses.
            <ul>
                <li>
                    You can view our source code here: <a
                        href="https://github.com/ACRonm/Capstone_project_9785-24S1-18"> Source </a>
                </li>
                <li>
                    You can view our open source licenses here: <a href="/licenses"> Licenses </a>
                </li>

            </ul>
            </p>
            <h1 id="getting-started">Quick start</h1>
            <p>
                This tool is designed to be API-first, meaning it is primarily intended to be used programmatically.
                However, we also provide a web interface for testing and manual operations. This allows you to easily
                test the functionality and see the results in real-time before integrating it into your own
                applications.
            </p>

            <p>
                We have designed this tool to be easy to use, with a seamless web user interface. To get started, create
                an account and log in. Once you are logged in, you can start correcting addresses by clicking on <a
                    href="/address-correction"> Submit Addresses</a>.
            </p>

            <h1 id="advanced-usage">Advanced Usage</h1>
            <p>
                If you are a developer and want to integrate this tool into your own applications, you can use our API.
                The API is designed to be simple and easy to use, with a RESTful interface. You can find the API
                documentation <a href="docs/api">here</a>.
            </p>


        </div>
        <div class="col mx-3">
            <h2>Headings on this page</h2>
            <ul>
                <li><a href="/docs/#introduction">Introduction</a></li>
                <li><a href="#getting-started">Getting Started</a></li>
                <li><a href="/docs/#advanced-usage">Advanced Usage</a></li>
                <li><a href="#faq">FAQ</a></li>
            </ul>
        </div>
    </div>
</body>
