@page "/"
@using Services

<PageTitle>Home</PageTitle>

<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">Welcome to your new app.</p>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="card" style="">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

</div>


@code {

}
