@page "/metrics/"

<h3>Address Correction Metrics</h3>

<p>Here you can view the metrics related to address correction.</p>

<div class="container">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="/metrics/overview">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="/metrics/individual" style="color: black;">Individual
                Metrics</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="overview" class="tab-pane fade show active">
            <!-- Add your overview metrics display components here -->
            <canvas id="chart1"></canvas>
            <canvas id="chart2"></canvas>
            <canvas id="chart3"></canvas>
            <canvas id="chart4"></canvas>
        </div>
        <div id="individualMetrics" class="tab-pane fade">
            <!-- Add your individual metrics display components here -->
        </div>
    </div>
</div>