@using AddressCorrectionTool.Services
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Components

@page "/success"
@inject ResponseService ResponseService
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<h1>Success!</h1>


@if (ResponseService.CorrectedAddress != null)
{
    <p>The corrected address is: @ResponseService.CorrectedAddressToString()</p>
}
else
{
    <p>No address was corrected</p>
}

<button class="btn btn-primary" @onclick="GoBack">Go back</button>

@code
{
    private void GoBack()
    {
        NavigationManager.NavigateTo("/address-correction");
    }
}
