    a {
        text-decoration: none
    }

    a:hover {
        text-decoration: underline
    }

    li {
        margin-bottom: 1rem;
    }

    section {
        margin-bottom: 2rem;
    }

    .lead {
        color: #62B3C6;
    }